<h2>ユーザー一覧</h2>
<div class = "container">
  <div class="row">
    <%= link_to profile_img(current_user), user_path(current_user.id) %><br>
    <%= current_user.name %><br>
  </div>
  <hr>
  <div class="row">
    <% @users.each do |user| %>
          <% unless current_user.id == user.id %>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <%= link_to profile_img(user), user_path(user.id) %><br>
              <%= user.name %><br>
              <%= render 'follow_form', user: user %><br><br>
            </div>
          <% end %>
    <% end %>
  </div>
</div>
